<p>Stored Values</p>
<table>
  <tr>
    <td>Key</td>
    <td>Value</td>
  <%- @pairs.each do |pair| %>
    <tr>
      <td><%= pair.first %></td>
      <td><%= pair.last %></td>
    </tr>
  <% end %>
</table>

<p>Memcache Stats</p>
<table>
  <%- @stats.each_pair do |key, value| %>
    <tr>
      <td>key</td>
      <td>value</td>
    </tr>
  <% end %>
</table>